<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<h1>Edit Use PAGE ADMINr</h1>
<form th:action="@{/admin/update}" th:object="${user}" method="post">
    <input type="hidden" th:field="*{id}">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{username}" required>
    <br>
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" th:field="*{lastName}" required>
    <br>

    <label for="enabled">enabled</label>
    <input type="text" id="enabled" th:field="*{enabled}" required>
    <br>

    <label for="password">password</label>
    <input type="text" id="password" th:field="*{password}" required>
    <br>


    <div>
        <label>Roles:</label>
        <div th:each="role : ${allRoles}">
            <input type="checkbox"
                   th:value="${role.id}"
                   name="selectedRoles"
                   th:id="${'role_' + role.id}">
            <label th:for="${'role_' + role.id}" th:text="${role.name}"></label>
        </div>
    </div>
    <br>
    <td th:text="${user.roles}"></td>
    <br>
    <br>
    <button type="submit">Update</button>
</form>
<br>
<a th:href="@{/admin}">Back to List</a>
</body>
</html>



<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->