<!--&lt;!&ndash; Пример для new.html &ndash;&gt;-->
<!--<form th:action="@{/users}" th:object="${user}" method="post">-->
<!--  &lt;!&ndash; Другие поля &ndash;&gt;-->
<!--  <div>-->
<!--    <label>Roles:</label>-->
<!--    <div th:each="role : ${allRoles}">-->
<!--      <input type="checkbox"-->
<!--             th:id="'role_' + ${role.id}"-->
<!--             th:value="${role.id}"-->
<!--             name="selectedRoles"-->
<!--             th:checked="${user.roles.contains(role)}">-->
<!--      <label th:for="'role_' + ${role.id}" th:text="${role.name}"></label>-->
<!--    </div>-->
<!--  </div>-->
<!--  <button type="submit">Save</button>-->
<!--</form>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/users/update}" th:object="${user}" method="post">
  <input type="hidden" th:field="*{id}">
  <label for="name">Name:</label>
  <input type="text" id="name" th:field="*{username}" required>
  <br>
  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" th:field="*{lastName}" required>
  <br>

  <label for="enabled">enabled</label>
  <input type="text" id="enabled" th:field="*{enabled}" required>
  <br>

  <label for="password">password</label>
  <input type="text" id="password" th:field="*{password}" required>
  <br>



  <button type="submit">Update</button>
</form>
<br>
<a th:href="@{/users}">Back to List</a>
</body>
</html>

